<button id="Button-reg" (click)=" AgregarNuevo()"> + N U E V O R E G I S T R O + </button>

<h2 class="Encabezado">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Listado de personal registrado con exito
</h2>

<div class="Lista">
  <div
    *ngIf="Personas.length == 0"
    style="color: rgb(247, 247, 247); font-size: 18px"
  >
  <span>El Personal  exitosamente encontrado en la base de datos: </span>
    <hr />
    <br />
    <h3>
      No se encuentran registros en la base de datos! <br />
      Por Favor, AGREGAR UN NUEVO REGISTRO
    </h3>
    <br />
    <hr />
  </div>
  <ul *ngFor="let element of Personas; let i = index">
    <li>
      <hr />
      <hr />
      <br />
      {{ i + 1 + " - " + element.Nombre + " " + element.Apellido}}
      <button id="Select" (click)="Seleccionar(i)">Seleccionar</button>
      <br />
      <br />
      <hr />
      <hr />
    </li>
  </ul>
  <br />
  <br />
  <br />

  <!--<app-formulario></app-formulario>-->

</div>
